<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings><add name="k94warriors_dbEntities" connectionString="metadata=res://*/K9.csdl|res://*/K9.ssdl|res://*/K9.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:cebsw1i8lx.database.windows.net;initial catalog=k94warriors_db;persist security info=True;user id=k94warriors@cebsw1i8lx;password=c0tbh@ckathon;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="k94warriors_dbEntities1" connectionString="metadata=res://*/K9.csdl|res://*/K9.ssdl|res://*/K9.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:cebsw1i8lx.database.windows.net;initial catalog=k94warriors_db;persist security info=True;user id=k94warriors@cebsw1i8lx;password=c0tbh@ckathon;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>