@{
    ViewBag.Title = "Dogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using K94Warriors.Models
@model IEnumerable<K94Warriors.Models.DogProfile>

<div class="col col-lg-12">
    <h2>Dogs</h2>
    <table class="table table-bordered">

        <thead>
            <tr>
                <th class="col col-lg-6">Dog Name</th>
                <th class="col col-lg-2">Breed</th>
                <th class="col col-lg-2">Age</th>
                <th class="col col-lg-2">Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DogProfile dog in Model)
            {
                <tr>
                    <td class="col col-lg-6"><a href="/dog/readdog/@dog.ProfileID">@dog.Name</a></td>
                    <td class="col col-lg-2">@dog.Breed</td>
                    <td class="col col-lg-2">@dog.BirthYear</td>
                    <td class="col col-lg-2">@dog.Location.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>