@model IEnumerable<K94Warriors.Models.MedicalRecordType>

@{
    ViewBag.Title = "Medical Record Types";
}


<p class="pull-right">
    <a href="/Admin/MedicalRecordTypes/Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add New Medical Record Type</a>
</p>
<h4>Medical Record Types</h4>
<hr />
<table class="table">
    <tr>
        <th class="col col-lg-3">Name</th>
        <th class="col col-lg-9">Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col col-lg-3">
            <a href="/Admin/MedicalRecordTypes/Edit/@item.MedicalRecordTypeID">@item.Name</a>
        </td>      
        <td class="col col-lg-6">
            <a href="/Admin/MedicalRecordTypes/Edit/@item.MedicalRecordTypeID"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="/Admin/MedicalRecordTypes/Delete/@item.MedicalRecordTypeID" onclick="return confirm('Are you sure you want to delete this? It will also permanently delete all medical records using this medical record type.')"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
