@{
    ViewBag.Title = string.Format("{0}'s Certifications", ViewBag.DogName);
}

@using K94Warriors.Models
@model IEnumerable<DogCertification>

@section subnav {
    @{
        Html.RenderAction("GetDogSection", "Dog", new { dogId = ViewBag.DogId });
    }
}

<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <a href="/Certifications/Create?dog=@ViewBag.DogId" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Certification</a>
        </div>
        <h4>View All Certifications for @ViewBag.DogName</h4>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">

        <hr />

        @foreach (var certification in Model)
        {
            <div class="well cert-container">
                <div class="pull-right">
                    <p class="well-actions">
                        <a href="/Certifications/Edit/@certification.DogCertificationID"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="/Certifications/Delete/@certification.DogCertificationID" onclick="return confirm('Are you sure you want to permanently delete this certification?')"><i class="glyphicon glyphicon-trash"></i></a>
                    </p>
                </div>
                <h4>
                    @certification.Name
                    @if (certification.ExpirationDate.HasValue)
                    {
                        if (certification.ExpirationDate.Value <= DateTime.Now.Date)
                        {
                            <span class="label label-danger">Expired</span>
                        }
                        else if (certification.ExpirationDate.Value > DateTime.Now.Date && certification.ExpirationDate.Value <= DateTime.Now.Date.AddDays(30))
                        {
                            <span class="label label-warning">Expires Soon</span>
                        }
                    }
                </h4>
                <p>Date Received: @certification.DateReceived.ToLongDateString()</p>
                @if (certification.ExpirationDate.HasValue)
                {
                    <p>Expires: @certification.ExpirationDate.Value.ToLongDateString()</p>
                }
            </div>
        }

    </div>
</div>
