@using K94Warriors.Models
@model IEnumerable<K94Warriors.Models.DogEvent>
@{
    ViewBag.Title = "Home Page";
}
<div class="well">
    <h1>Upcoming Events</h1>
    <div>View important upcoming events for dogs.</div>
</div>
<table class="table table-bordered">
    @* TODO: Repeat me from DogEvents, foo!*@
    <thead>
        <tr>
            <th class="col col-lg-3">Dog Name
            </th>
            <th class="col col-lg-4">Subject
            </th>
            <th class="col col-lg-3">Date
            </th>
            <th class="col col-lg-2">Days From Now
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var dogEvent in Model)
            {
                <tr>
                    <td class="col col-lg-3"><a href="/dog/readdog/@dogEvent.DogProfileID">@dogEvent.DogProfile.Name</a></td>
                    <td class="col col-lg-4"><a href="/dog/CreateOrUpdateDogEvent?dogId=@dogEvent.DogProfileID&eventId=@dogEvent.EventID">@dogEvent.Subject</a></td>
                    <td class="col col-lg-3">@dogEvent.EventDate.ToLongDateString()</td>
                    <td class="col col-lg-2">@((dogEvent.EventDate - DateTime.UtcNow).Days)</td>
                </tr>
            }
        }

    </tbody>

    @*/Repeat me from DogEvents, foo!*@
</table>