@{
    ViewBag.Title = "Home Page";
}

<table class="table table-hover table-striped">
    @* TODO: Repeat me from DogEvents, foo!*@
    <tr>
        <td><input type="checkbox" /></td>
        <td>Subject</td>
        <td>Date</td>
    </tr>
    @*/Repeat me from DogEvents, foo!*@
</table>
