@model IEnumerable<K94Warriors.Models.DogEvent>
@{
    ViewBag.Title = "Home Page";
}
<div class="well">
    <h1>Upcoming Events</h1>
    <div>View important upcoming events for dogs.</div>
</div>
<table class="table table-bordered">
    @* TODO: Repeat me from DogEvents, foo!*@
    <thead>
        <tr>
            <th class="col col-lg-2">Dog Name
            </th>
            <th class="col col-lg-4">Subject
            </th>
            <th class="col col-lg-3">Date
            </th>
            <th class="col col-lg-2">Time</th>
            <th class="col col-lg-1">Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var dogEvent in Model)
            {
                <tr>
                    <td class="col col-lg-2">@Html.ActionLink(dogEvent.DogProfile.Name, "DogProfile", "Dog", new { id = dogEvent.DogProfileID }, null)</td>
                    <td class="col col-lg-4">@Html.ActionLink(dogEvent.Subject, "Edit", "Events", new { dogEventId = dogEvent.EventID }, null)</td>
                    <td class="col col-lg-3">@dogEvent.EventDate.ToLongDateString() </td>
                    <td class="col col-lg-2">@dogEvent.EventDate.ToShortTimeString()</td>
                    <td class="col col-lg-1">
                        @if (dogEvent.EventDate == DateTime.Now.Date) {
                            <span class="label label-warning">Today</span>
                        } else if (dogEvent.EventDate > DateTime.Now.Date) {
                            <span class="label label-default">Upcoming</span>
                        } else {
                            <span class="label label-danger">Expired</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>

    @*/Repeat me from DogEvents, foo!*@
</table>