<appSettings>
  <add key="enableSimpleMembership" value="true" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ErrorFromEmailAddress" value="admin@k9forwarriors.org" />
  <add key="ErrorToEmailAddress" value="admin@k9forwarriors.org" />
  <add key="StorageAccountConnectionString" value="[STORAGE ACCOUNT CONNECTION STRING]"/>
  <add key="ImageBlobContainerName" value="images" />
  <add key="MedicalRecordBlobContainerName" value="medicalrecords" />
</appSettings>