@model K94Warriors.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="well">
    <h1>@ViewBag.Title.</h1>
    <div>Please supply your login credentials below or <a href="/Account/Register">Register here</a> if you don't have an account.</div>
</div>

<section>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Email</label>
  <div class="controls">
    <input id="userName" name="userName" type="text" placeholder="email@address.com" class="input-xlarge" required="required">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label">Password</label>
  <div class="controls">
    <input id="password" name="password" type="password" placeholder="" class="input-xlarge" required="required">
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <button type="submit" id="signIn" name="signIn" class="btn btn-primary">Sign In</button>
  </div>
</div>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
