@model IEnumerable<K94Warriors.Models.User>

@{
    ViewBag.Title = "Users";
}


<p class="pull-right">
    <a href="/Admin/Users/Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add New User</a>
</p>
<h4>Users</h4>
<hr />
<table class="table">
    <tr>
        <th class="col col-lg-3">Email</th>
        <th class="col col-lg-3">Name</th>
        <th class="col col-lg-6">Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col col-lg-3">
            <a href="/Admin/Users/Edit/@item.UserID">@item.Email</a>
        </td>
        <td class="col col-lg-3">
            @item.DisplayName
        </td>        
        <td class="col col-lg-6">
            <a href="/Admin/Users/Edit/@item.UserID"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="/Admin/Users/Delete/@item.UserID" onclick="return confirm('Are you sure you want to delete this user?')"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
