@if (Request.IsAuthenticated)
{
    <text>
        <li>@Html.ActionLink(HttpContext.Current.User.Identity.Name, "Manage", "Account", new { area = (string)null }, null)</li>

        <li>
            <a href="/account/logoff"> Log off</a>
        </li>
    </text>
}
else
{
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = (string)null }, htmlAttributes: new { id = "loginLink" })</li>
}