@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Error</title>
</head>
<body>
    <h2>
        Couldn't find file or location.
    </h2>
</body>
</html>